@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css';

.App {
  /* height: 100vh;
  width: 100vw; */
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  /* background-color: #013243; */
  /* position: fixed; */
}

.collection {
  /* overflow-y: auto; */
  /* height: calc(100vh - 5rem); */
  border: none!important;
}

.collection-header {
  border-bottom: none!important;
  padding-left: 0!important;
}